// compileCompressed: ../css/$1.min.css

// Global variables
$primary-text-color: #333333;
$primary-bg-color: #ffffff;
$light-peach: #ffe6d5;
$dark-peach: #ffccaa;
$light-yellow: #fff6d5;
$dark-yellow: #ffe680;
$light-red: #ff8080;
$main-red: #ff5555;
$dark-red: #ff2a2a;
$verydark-red: #d40000;
$light-grey: #e6e6e6;
$white-text: #ffffff;

$primary-width: 960px;

$logobar-height: 160px;


@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,200,300,400,500,600,700,800,900&display=swap&subset=japanese');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  background-color: $primary-bg-color;
  color: $primary-text-color;
}
header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header #logo-bar {
  margin: 2rem 0;
  // Should be 900px wide and 160px high
  width: $primary-width;
  height: $logobar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
header #logo-bar > * {
  width: 300px;
  // background-color: grey;
}
header #logo-bar img.elite-logo {
  // height: $logobar-height;
}
header #logo-bar .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header #logo-bar .title p {
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 110%;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header #logo-bar .title .accent {
  // background-color: red;
  color: #5599ff;
  font-size: 1.3rem;
  margin-left: 1rem;
  // display: inline-block;
  // vertical-align: middle;
}
header #logo-bar .points p {
  border-radius: 5px;
  color: $white-text;
  margin: 0.4rem 2rem 0 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
header #logo-bar .points p#point1 {
  background-color: #80b3ff;
}
header #logo-bar .points p#point2 {
  background-color: #5599ff;
}
header #logo-bar .points p#point3 {
  background-color: #2a7fff;
}
header #logo-bar .points p#point4 {
  background-color: #0066ff;
}
header #hero img {
  width: $primary-width;
}
main {
  width: 100%;
}
main section {
  // background-color: grey;
  width: $primary-width;
  margin: 0;
  padding: 2rem 2rem;
}

main section#intro1 h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}
main section#intro1 p {
  margin: 0;
  font-size: 1.2rem;
}
main section#intro1 p:first-of-type {
  margin-top: 1rem;
}

main section#intro2 {
  background-color: $light-peach;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#intro2 p {
  // background-color: grey;
  width: $primary-width;
  margin: 0;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.8rem;
}

main section#benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#benefits .benefit {
  width: 800px;
  margin: 2rem 0;
}
main section#benefits .benefit img {
  height: 180px;
  width: 180px;
  margin-left: 20px;
  float: left;
}
main section#benefits .benefit h3 {
  font-size: 3rem;
  font-weight: 600;
  margin: 20px 0 0 220px;
}
main section#benefits .benefit-contents {
  background-color: $dark-peach;
  font-size: 1.8rem;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 10px 20px 10px 220px;
  border-radius: 10px;
}
main section#benefits .benefit-contents p {
  margin: 0;
}

main section#personalize {
  background-color: $light-yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
main section#personalize * {
  // background-color: grey;
  width: $primary-width;
}
main section#personalize h2 {
  margin: 0;
  border-bottom: 2px solid $light-red;
  font-size: 2.8rem;
  text-align: center;
}
main section#personalize h3 {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}
main section#personalize .accent-text {
  color: $main-red;
}
main section#personalize p {
  font-size: 1.5rem;
}

main section#examples {
  background-color: $light-peach;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}
main section#examples > * {
  // background-color: grey;
  height: 200px;
  width: 800px;
  position: relative;
  margin: 2rem 0;
}
main section#examples h2 {
  font-size: 3.3rem;
  padding: 0 2rem;
  text-align: center;
}
main section#examples .target-contents {
  background-color: $dark-peach;
  padding: 1rem;
  border-radius: 10px;
}
main section#examples p {
  font-size: 1.7rem;
  margin: 0 1rem;
}
main section#examples p.japanese {
  color: $dark-red;
}
main section#examples .target-original {
}
main section#examples h3 {
  background-color: $main-red;
  color: $white-text;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  top: -30px;
  left: 60px;
  font-size: 1.5rem;
}
main section#examples .target-original .target-original-label-and-contents {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main section#examples .target-original .target-contents {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
main section#examples .target-original-label {
  background-color: $dark-yellow;
  width: 200px;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main section#examples .target-personalized img {
  width: 200px;
  float: left;
  z-index: -1;
}
main section#examples .target-personalized h3 {
  left: 200px;
}
main section#examples .target-personalized .target-contents {
  height: 200px;
  position: relative;
  z-index: 1;
  margin-left: 180px;
  padding-top: 2rem;
}

main section#pricing {
  width: 800px;
  padding: 3rem 0;
  font-weight: 200;
}
main section#pricing .course-contents {
  background-color: $light-grey;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#pricing .course-contents header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
main section#pricing .course-contents header h2 {
  margin: 0 2rem 0 0;
  font-size: 3rem;
}
main section#pricing .course-contents header h3 {
  font-size: 1.5rem;
}
main section#pricing .course-contents ul {
  width: 90%;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid $light-red;
}
main section#pricing .course-contents li {
  margin-bottom: 0.5rem;
}
main section#pricing .course-contents li .item {
  margin-left: 0.5rem;
}
main section#pricing .course-contents li .amount {
  float: right;
}
main section#pricing .course-contents li::marker {
  color: $light-red;
  content: "○";
}
main section#pricing .price-information {
  width: 90%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section#pricing .total-price {
  color: $main-red;
  font-size: 3rem;
  font-weight: 500;
}
main section#pricing .total-price .tax-note {
  font-size: 1rem;
}
main section#pricing .price-note {
  background: no-repeat url("../images/price-note-box.png");
  background-size: 100%;
  color: $white-text;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 3rem;
  line-height: 4rem;
}
main section#pricing img#down-arrow {
  width: 800px;
  margin: 2rem 0;
}
main section#pricing .checklist {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#pricing .checklist ul {
  list-style-image: url("../images/checkbox.png");
  padding: 2rem 0 2rem 80px;
  font-size: 2.4rem;
}
// main section#pricing .checklist li {
//   height: 60px;
//   line-height: 60px;
// }
// main section#pricing .checklist ul .item {
//   display: inline-block;
//   vertical-align: bottom;
// }

main section#trial {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
main section#trial .trial-level-check-counseling {
  width: 70%;
  border: solid 4px $dark-red;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
main section#trial .trial-level-check-counseling p {
  margin: 0;
  padding: 0.2rem;
}
main section#trial .trial-level-check-counseling p.accent {
  width: 100%;
  background-color: $dark-red;
  color: $white-text;
}
main section#trial img {
  width: 30%;
}

main section#contact {
  width: $primary-width;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#contact .contact-form h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  color: $dark-red;
}
main section#contact .contact-form .subtitle {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}
main section#contact .contact-form .accent {
  color: $dark-red;
}
main section#contact .contact-form form {
  text-align: center;
}
main section#contact .contact-form form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section#contact .contact-form form div fieldset {
  text-align: left;
  border: 0;
}
main section#contact .contact-form form fieldset.options,
main section#contact .contact-form form fieldset.details {
  flex-grow: 1;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#contact .contact-form form fieldset.details label,
main section#contact .contact-form form fieldset.options legend {
  font-size: 1.5rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options {
  margin-top: 2rem;
}
main section#contact .contact-form form fieldset.options label {
  font-size: 1.2rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options .note {
  font-size: 0.7rem;
}
main section#contact .contact-form form fieldset.options p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
main section#contact .contact-form form fieldset.options p:first-of-type {
  margin-top: 1rem;
}
main section#contact .contact-form form input,
main section#contact .contact-form form textarea {
  border: 2px solid $dark-red;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 17px;
}
main section#contact .contact-form form input[type=checkbox] {
  margin: 0.5em 0.3em 0.5em 0;
}
main section#contact .contact-form form input[type=text],
main section#contact .contact-form form textarea {
  width: 100%;
}
// This is a honeypot field to filter out bots using the form
main section#contact .contact-form form #website {
  display: none;
}
main section#contact .contact-form form input[type="submit"] {
  background-color: gray;
  color: $white-text;
  border: none;
  padding: 10px 30px;
}

main section#contact .phone-and-address {
  width: 800px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#contact .phone-and-address h2 {
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}
main section#contact .phone-and-address .phone {
  margin: 0;
}
main section#contact .telelphone-label {
  margin-right: 1rem;
  font-size: 4rem;
  font-weight: 500;
}
main section#contact .telelphone-number {
  color: $dark-red;
  font-size: 5.8rem;
  font-weight: 500;
  line-height: 100%;
}
main section#contact .logo-and-address {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 1rem;
}
main section#contact .logo-and-address img {
  width: 250px;
}
main section#contact .address {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main section#contact .address p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 120%;
}
main section#contact .address p.company-name {
  font-weight: 600;
}

// Styling for Form Submitted page
main section#form-submitted {
  width: $primary-width;
  text-align: center;
  font-size: 2rem;
}
main section#form-submitted h1 {
  font-size: 3rem;
  font-weight: 600;
  color: $dark-red;
}
main section#form-submitted .button-back {
  background-color: gray;
  color: $white-text;
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}
